PORT=3005

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_AUTH_SOURCE=admin
MONGO_SOURCE=themartec_db
MONGO_USERNAME=themartec_user
MONGO_PASSWORD=themartec_password

JWT_SECRET=themartec_secret

LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
LINKEDIN_REDIRECT_URI=http://localhost:3005/api/auth/linkedin/callback

FACEBOOK_PAGE_ID=your_pgae_id
FACEBOOK_APP_ID=your_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret

ENABLE_API_REQUEST=1